# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
*.egg-info/
.eggs/
build/
dist/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

